/* OpenSans Regular */
@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/openSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* OpenSans Medium */
@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/openSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* OpenSans Bold */
@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/openSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

html {
  background-color: black;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url("../img/back.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}




nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 6px;
  font-family: "OpenSans";
}

.nav-head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
}

.nav-head span {
  margin: 0px 12px;
  font-size: 18px;
  font-weight: bold;
  text-shadow: 0px 0px 10px rgb(255, 255, 255);
}

span:hover {
  cursor: default;
}

.nav-head span:nth-child(1){
  padding-left: 4px;
}

.nav-btn {
  margin-top: 6px;
  display: inline-flex;
  justify-content: space-between;
}

.small-btn {
  height: 22px;
  width: 55px;
  margin: 0px 12px;
  background-color: rgb(212, 212, 212);
  border-radius: 6px;
  border: solid 1px rgb(66, 66, 66);
  box-shadow: 3px 3px 16px rgb(255, 255, 255) inset, 
	-3px -3px 16px rgba(0, 0, 0, 0.8) inset;
  filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.9));
  transition: 111ms ease-in-out;
}

.small-btn:hover {
  transform: scale(112%);
  cursor: default;
}




.button-con {
  margin-right: 40px;
  height: 200px;
  width: 200px;
}

.a-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 130px;
  width: 130px;
  border-radius: 50%;
  background-color: rgb(27, 188, 228);
  margin-left: 20px;
  margin-top: 20px;
  box-shadow: 7px 7px 22px rgba(255, 255, 255, 0.9) inset, 
	-6px -6px 22px rgba(0, 0, 0, 0.7) inset;
  filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.8));
  transition: 111ms ease-in-out;
}


.b-btn {
  margin-top: -20px;
  margin-left: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: rgb(221, 40, 40);
  box-shadow: 7px 7px 22px rgba(255, 255, 255, 0.9) inset, 
	-6px -6px 22px rgba(0, 0, 0, 0.7) inset;
  filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.7));
  transition: 111ms ease-in-out;
}


.a-btn:hover,
.b-btn:hover {
  transform: scale(108%);
  cursor: default;
}





.cross-con {
  position: relative;
  width: 250px;
  height: 250px;
  margin-left: 50px;
  margin-top: 30px;
  border-radius: 50%;
  background-color: rgb(68, 68, 68);
  filter: drop-shadow(0px 0px 6px rgb(255, 255, 255));
  box-shadow: 0px 0px 18px rgb(207, 207, 207);
}

.cross {
  position: absolute;
  background-color: rgb(176, 210, 212);
  border-radius: 18px;
  border: solid 2px rgba(0, 0, 0, 0.7);
  padding: 38px;
  transition: 88ms ease-in-out;
}

.cross:hover {
  cursor: default;
}

.up {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 70px;
  height: 100px;
  clip-path: polygon(100% 0%, 100% 75%, 50% 100%, 0%  75%, 0% 0%);
}

.down {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 70px;
  height: 100px;
  clip-path: polygon(0%   100%, 0%   25%, 50%  0%, 100% 25%, 100% 100%);
}

.left {
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100px;
  height: 70px;
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}

.right {
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 100px;
  height: 70px;
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
}




@media (max-width: 600px) {
  #rotate-container {
    transform: rotate(90deg);
    transform-origin: center;
    width: 100vh;
    height: 100vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
  }
}
