* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-image: url("../img/hintergrund.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

main {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

canvas {
  border: solid 6px white;
}